@bg-total:red;
@mobile-width-only:~"(max-width:700px)";
@tablet-width:~"(min-width:700px)";
@desktop-width:~"(min-width:1200px)";

.clearfix{
  &:after{
    content:"";
    display:table;
    clear:both;
  }
}

.layout-positioner{
  width:320px;
  margin:0 auto;

  @media @tablet-width{
    width:700px;
    margin:0 auto;
    outline:5px solid black;
  }

  @media @desktop-width{
    width:1200px;
    margin:0 auto;
    outline:5px solid black;
  }
}

body{
  background-color: aquamarine;
}
@media @tablet-width{
  body{
    background-color:blue;
  }
}
@media @desktop-width{
  body{
    background-color:yellow;
  }
}
