.contact{
  outline:1px solid orange;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact__first{
  outline:0px solid red;
  margin:65px 0 65px 0;
  &--questions{
    font-size:40px;
    color:#283645;
    font-family: Open sans, sans-serif;
    text-align: center;
    font-weight:lighter
  }
}
.contact__second{
  outline:0px solid red;
  &--phone{
    font-size:18px;
  color:#283645;
  text-align: center;
  font-weight: bold;
  font-family:open sans,sans-serif;
    margin-bottom:25px;
  }
  &--text{
    font-size:24px;
    font-family: Open sans,sans-serif;
    color:#d22856;
    text-align: center;
    font-weight: lighter;
    margin-bottom:25px;
  }
}

@media @mobile-width-only{
 .contact__second--block1{
    width:100%;
    outline:0px solid blue;
  }
  .contact__second--block2{
    width:100%;
    outline:0px solid blue;
  }
  .contact__second--block3{
    width:100%;
    outline:0px solid blue;
  }
}


@media @tablet-width{
  .contact__second{
    .clearfix;
    &--block1{
    }
  }
  .contact__second--block1{
    width:50%;
    outline:0px solid blue;
  }
  .contact__second--block2{
    width:50%;
    outline:0px solid blue;
  }
  .contact__second--block3{
    width:100%;
    outline:0px solid blue;
  }
}
@media @desktop-width{
  .contact__second--block1{
    width:33%;
    outline:0px solid blue;
  }
  .contact__second--block2{
    width:33%;
    outline:0px solid blue;
  }
  .contact__second--block3{
    width:33%;
    outline:0px solid blue;
  }
  }


