@media @tablet-width{
  .effect{
   outline:1px solid blue;
    display:flex;
    flex-direction: row;
}
  .effect__pict{
    display:flex;
    width:40%;
    outline:1px solid blue;
//    margin-left:20px;
  }
  .effect__pict img {
    justify-content: center;
    outline:1px solid blue;
  }
  .effect__text{
    outline:1px solid blue;
    width:60%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
//    margin-right:20px;
  }
}
@media @desktop-width{
  .effect__pict{
    margin-left:63px;

  }
}
