@media @tablet-width{
  .effect{
  .clearfix;
  display:block;
  outline:1px solid yellow;
}
  .effect__pict{
    width:40%;
    outline:1px solid yellow;
    float:left;
  }
  .effect__text{
    outline:1px solid yellow;
    text-align: center;
    width:60%;
    float:right;
    margin-top:100px;

  }
}
@media @desktop-width{

}
