.field-1{
  outline:1px solid blue;
  margin-bottom:40px;
}
.my-history__text{
  outline:1px solid orange;
  color:#283645;
  font-size:14px;
  line-height: 2;
  padding:50px 0 40px 0;
  width:280px;
  font-family: Open-Sans, sans-serif;
  margin:0 auto;
  text-align: center;
  font-weight: normal;
}
.my-history__field{
  color:#d22856;
  font-size: #d22856;
  text-transform: uppercase;
  outline:1px solid red;
  display:flex;
  flex-direction: column;
  margin-left:15px;
  margin-bottom:10px;
  padding-left:15px;

}
input[type="text"]{
  outline:none;
  border:1px solid #e5e5e5;
  padding:15px 15px 15px 15px;
  margin-left:15px;
  width:280px;
  margin-bottom:25px;
  font-size:18px;
  color:#283645;
  font-family:Open sans,sans-serif;

}



@media @mobile-width-only{

}
@media @tablet-width{
  .my-history__text{
  width:500px;
  outline:1px solid orange;
  font-size:18px;
  }
  .field-1{

  }
}
@media @desktop-width{
  .my-history__text{
  width:750px;
  outline:1px solid orange;
  }
}
