.field-1{
  outline:1px solid blue;
}
.my-history__text{
  outline:1px solid orange;
  color:#283645;
  font-size:14px;
  line-height: 2;
  padding:50px 0 40px 0;
  width:280px;
  font-family: Open-Sans, sans-serif;
  margin:0 auto;
  text-align: center;
  font-weight: normal;
}




@media @mobile-width-only{

}
@media @tablet-width{
  .my-history__text{
  width:500px;
  outline:1px solid orange;
  font-size:18px;
  }
}
@media @desktop-width{
  .my-history__text{
  width:750px;
  outline:1px solid orange;
  }
}
