@media @mobile-width-only{
  footer{
    display:none;
  }
}
@media @tablet-width{
  .bg-footer{
    padding:30px 0 30px 0;
    margin-bottom:20px;
    outline:1px solid orange;
  }
  .footer__logo{
    .clearfix;
    .layout-positioner;
    outline:2px solid black;
    width:100%;
    &--left-logo{
      margin-right: 80px;
    }
  }
  .footer__logo img {
    float:left;
  }
  .footer-social__icon{
    margin-right: 20px;
    float:left;
  }
  .develop{
    outline:0px solid red;
    &__text{
      float:left;
    margin-right:20px;
    }
  }

}
