@media @mobile-width-only{
  footer{
    display:none;
  }
}

@media @tablet-width{
  .bg-footer{
    background-color: #f1f1f1;
    padding:40px 0 40px 0;
    outline:2px solid blue;
    margin-bottom:5px;
  }
  .container-footer{
    width:100%;
    outline:1px solid blue;
    display:flex;
    justify-content: space-between;
    margin-bottom:5px;
  }
  .footer__logo--img{
    outline:1px solid blue;
    width:33%;
  }
  .footer-social__icon{
    outline: 1px solid blue;
    width:175px;
    display:flex;
    justify-content: space-between;
  }
  .develop{
    outline:1px solid blue;
    width:33%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    &__text{
      margin-right:15px;
      font-size:14px;
      color:#283645;
    }
  }
  .footer-social{
    width:45px;
    height:45px;
    border:3px solid #e9ebec;
    border-radius: 50px;
  }
  .footer-social:hover{
    border:3px solid black;
    opacity:0.5;
  }
  .footer-social--twitter{
    background-image: url(../img/icon-twitter.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .footer-social--facebook{
    background-image: url(../img/icon-facebook.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .footer-social--youtube{
    background-image: url(../img/icon-youtube.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media @desktop-width{
  .footer__logo--img{
    width:40%;
  }
  .footer-social__icon{
    width:20%;
  }
  .develop{
    width:40%;
  }
}
