.page-wrapper{
  margin:0 10px 0 10px;
}
.bg-page-header-nav{
  background: rgba(22,29,37, .5);
//  opacity: 0.5;
}
.bg-header-wrapper__pict{
    background: url("../img/bg-back-mobile.jpg")no-repeat;
    background-size:100% 100%;
    position:relative;
//    outline:5px solid #ccc;
}
.bg-header-wrapper__iphone{
    background: url("../img/iphone-hand-mobile.png")left bottom;
    min-height:420px;
    width:100%;
    background-repeat:no-repeat;
    background-size: contain;
    margin-top:70px;
}
.page-header-nav{
  outline:0px solid #fff;
    &__menu--open{
        float:right;
      margin-top:10px;
    }
}

@media @mobile-width-only{
    .main-nav{
        display:none;
    }
    .main-nav-modal{
        display:none;
    }
    .page-header-nav{
        padding:20px;
    }
  .bg-header-wrapper__iphone{
    min-height:195px;
  }
  .bg-header-wrapper__pict{
    min-height:auto;
  }
 .pink-parth1{
  display:none;
}
  .pink-parth2{
    fill:#fff;
    opacity: 1;
  }
}

@media @tablet-width{
  .main-nav{
        display:none;
    }
    .main-nav-modal{
        display:none;
    }
     .page-header-nav{
        padding:25px 0 35px 0;
    }
  .pink-parth1{
    fill:#fff;
  }
  .pink-parth2{
    fill:#fff;
  }
  #Layer_2{
    display:none;
  }
}
@media @desktop-width{
  .page-header-nav{
    padding:35px 0 35px 0;
    }
  .header-layer-1{
    display:none;
  }
  #Layer_2{
      display:block;
    width:150px;
    z-index: 10;
    }
}
