.info-text{
  background:@bg-info-text;
  &__text{
    font-size: 24px;
    font-family: Open Sans,sans-serif;
    color:#283645;
    text-align: center;
    outline:2px solid red;
    margin:0px 20px 0 20px;
    font-weight: lighter;
    line-height: 1.5;
    padding-bottom:40px;
    vertical-align: middle;
  }
  &__text:first-child{
    padding-top:30px;
  }
  &__title{
    font-size: 18px;
    color:#283645;
    outline:2px solid blue;
    margin:0px 20px 0 20px;
    text-align: center;
  }
  &__item{
    margin:0px 20px 0 20px;
    outline:2px solid yellow;
    color:#283645;
    font-size:14px;
    font-family:Open Sans, sans-serif;
    text-align: center;
    line-height: 1.5;
    padding:15px 0 20px 0;
  }
  &__image{
    margin-left:85px;
  }
 }


