
@media @mobile-width-only{
  .header-layer-2{
    display:none;
  }
  .header-layer-1{
    margin-left:-50px;
  }
  }
@media @desktop-width{
  .page-header-nav{
    .clearfix;
    &__menu--open{
      display:none;
    }
  }
  .page-header-nav__logo{
    float:left;
  }
  .main-nav{
    display:block;
    width:625px;
    float:right;
    margin-top:-30px;
    &__item{
      float:left;
      margin-right:70px;
    }
    &__item:last-child{
      margin-right:0;
    }
    &__item a{
      color:#fff;
      font-size:18px;
      font-family:Open Sans,sans-serif;
      font-weight: bold;
    }
    &__item a:hover{
      opacity:0.5;
      text-decoration: underline;
    }
  }
  .header-layer-1{
    display:none;
  }
}
