.bg-standart{
  .clearfix;
  background-color: #1d2631;
  &__img{
    float:left;
  }
}

.standart{
  outline:1px solid green;
  &__elems{
    outline:1px solid yellow;
  }
}
.form1__elem1{
  padding:20px 0 20px 15px;
  border:1px solid #ccc;
}
.form1__elem1--inp{
  float:right;
}


@media @tablet-width{

}
