.bg-standart{
  .clearfix;
   background-color:#1d2631;
  &__img{
    float:left;
  }
  &__info{
    margin:0 20px 0 20px;
    outline:1px solid blue;
  }
}

//.standart{
//  outline:1px solid green;
//  &__elems{
//    outline:1px solid yellow;
//  }
//  &__title{
//    font-size:18px;
//    color:#fff;
//    font-weight: bold;
//    text-transform: uppercase;
//    font-family: Open Sans,sans-serif;
//    margin-left:110px;
//  }
//  &__text{
//    font-size:24px;
//    color:#fff;
//    font-weight: lighter;
//    font-family: Open Sans,sans-serif;
//    margin-left:110px;
//
//  }
//}
.form1__elem1{
  padding:20px 0 20px 15px;
  border:1px solid #ccc;
}
.form1__elem1--inp{
  float:right;
}


@media @mobile-width-only{
  .standart{
  outline:1px solid green;
  &__elems{
    outline:1px solid yellow;
  }
  &__title{
    font-size:18px;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Open Sans,sans-serif;
    margin-left:110px;
  }
  &__text{
    font-size:24px;
    color:#fff;
    font-weight: lighter;
    font-family: Open Sans,sans-serif;
    margin-left:110px;

  }
}
}
@media @tablet-width{
  .bg-standart{
    display:none;
  }
  .standart__elems{
  display:none;
}
}
@media @desktop-width{

}
